{% extends 'layout.html' %}
{% block body %}
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Train Model</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Configure Model</h3>
                            
                            <div class="form-group">
                                <label for="modelname" class="text-info">Model Name:</label><br>
                                <input type="text" name="modelname" id="modelname" class="form-control">
                            </div>

                            <div class="form-group">
                              <select name = "modeltype" id = "modeltype">
                                <option value = "Default" selected>Choose one</option>
                                <option value = "Random Forest">Random Forest</option>
                                <option value = "Linear Regression">Linear Regression</option>
                                <option value = "XGBoost">XGBoost</option>
                            </select>
           <!-- <div id = "cardioyes" style = "display:none;">
           <label for="How Long?">How Long?</label><br>
           <input type = "text" name = "duration" />
           </div> -->
           <!-- XBG VALUES -->
                            <div id = "XGB" class="form-group" style = "display:none;">
                                <label for="learningrate">Learning Rate:</label><br>
                                <input type="range" min="0" max="10" value="0" class="slider" id="XGBlr">
                                <p>Value: <span id="oXGBlr"></span></p>
                                <!-- <div class="form-group">
                                    <label for="learningrate" class="text-info">Learning Rate:</label><br>
                                    <input type="range" min="0" max="10" value="5" class="slider" id="myRange">
                                    <p>Value: <span id="demo"></span></p>
                                </div> -->
                                <label for="maxdepth" class="form-group">Max Depth: <br>Insert any number larger than 0</label><br>
                                <input type="number" min="1"  value="1" class="slider" id="XGBmd">
                                <p>Your selected max depth: <span id="oXGBmd"></span></p>

                            </div>

                            <!-- LR VALUES -->
                            <div id = "LR" class ="form-group" style = "display:none;">
                                <p> Linear Regression has no configurable options</p>
                                <!-- <label for="learningrate">Learning Rate:</label><br> -->
                                <!-- <input type="range" min="0" max="10" value="0" class="slider" id="myRange5">
                                <p>Value: <span id="demo5"></span></p>
                                <label for="maxdepth" class="form-group">Max Depth:</label><br>
                                <input type="range" min="0" max="25" value="0" class="slider" id="myRange6">
                                <p>Value: <span id="demo6"></span></p>
                                <label for="trainsplit" class="form-group">Train Split:</label><br>
                                <input type="range" min="0" max="100" value="0" class="slider" id="myRange3">
                                <p>Value: <span id="demo3"></span></p>
                                <label for="valsplit" class="form-group">Validation Split:</label><br>
                                <input type="hidden" min="0" max="100" value="0" class="slider" id="myRange4">
                                <p> <span id="demo4"></span></p> -->
                            </div>

                            <div id = "RF" class ="form-group" style = "display:none;">
                                <label for="nestimators">n Estimators: <br> The number of trees in the forest.<br>Value must be larger than 0</label><br>
                                <input type="number" min="1"  value="1" class="slider" id="RFne"><br>
                                <p>Your selected amount of trees: <span id="oRFne"></span></p>
                                <br>

                                <label for="maxdepth" class="form-group">Max Depth: <br>Insert any number larger than 0</label><br>
                                <input type="number" min="1"  value="1" class="slider" id="RFmd">
                                <p>Your selected max depth: <span id="oRFmd"></span></p>
                            </div>

                            </div>
                                <!-- <label for="modeltype" class="text-info">Model Type:</label><br>
                                <select id ="MLAlgorithms">
                                    <option value="XGBoost">XGBoost</option>
                                    <option value="Random Forest">Random Forest</option>
                                    <option value="Linear Regression">Linear Regression</option>
                                 </select> -->
                            <!-- <div class="form-group">
                                <label for="learningrate" class="text-info">Learning Rate:</label><br>
                                <input type="range" min="0" max="10" value="5" class="slider" id="myRange">
                                <p>Value: <span id="demo"></span></p>
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="maxdepth" class="text-info">Max Depth:</label><br>
                                <input type="range" min="0" max="10" value="5" class="slider" id="myRange2">
                                <p>Value: <span id="demo2"></span></p>
                            </div> -->
                            <!-- <div class="form-group">
                                <!-- <label for="trainsplit" class="text-info">Train Split:</label><br> -->
                                <!-- <input type="hidden" min="0" max="100" value="" class="slider" id="myRange3">
                                <p> <span id="demo3"></span></p>
                            </div> -->
                            <!-- <div class="form-group">
                                 <label for="valsplit" class="text-info">Validation Split:</label><br>
                                <input type="hidden" min="0" max="100" value="" class="slider" id="myRange4">
                                <p> <span id="demo4"></span></p>
                            </div> -->
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Train model">
                                <input type="reset" class ="btn btn-info btn-md" value="Reset Model">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Display slider values -->
    <script>
        var XGBlearningrate = document.getElementById("XGBlr");
        var XGBmaxdepth = document.getElementById("XGBmd");
        // var slider5 = document.getElementById("myRange5");
        var RandomForestnestimators = document.getElementById("RFne");
        var RandomForestmaxdepth = document.getElementById("RFmd");
        var outputXGBlr = document.getElementById("oXGBlr");
        var outputXGBmd = document.getElementById("oXGBmd");
        var outputRFne = document.getElementById("oRFne");
        var outputRFmd = document.getElementById("oRFmd")
        
        // var output4 = document.getElementById("demo4");
        // var output5 = document.getElementById("demo5");
        // var output6 = document.getElementById("demo6");
        // output2.innerHTML = slider2.value;
        // output5.innerHTML = slider5.value;
        // output6.innerHTML = RandomForestmaxdepth.value;
        XGBlearningrate.oninput = function() {
          outputXGBlr.innerHTML = this.value/10;
        }
        XGBmaxdepth.oninput = function() {
            outputXGBmd.innerHTML = this.value;
        }
        // slider5.oninput = function() {
        //   output5.innerHTML = this.value/10;
        // }
        RandomForestnestimators.oninput = function() {
          outputRFne.innerHTML = this.value;
        }
        RandomForestmaxdepth.oninput = function() {
            outputRFmd.innerHTML = this.value;
        }
        // slider4.oninput = function() {
        //   output4.innerHTML = this.value/10;
        // }
        $('#modeltype').change(function(){
        selection = $(this).val();
        switch(selection)
        {
            //show the <div> or not
            case 'Linear Regression':
                $('#LR').show();
                $('#XGB').hide();
                $('#RF').hide();
                break;
            case 'XGBoost':
                $('#XGB').show();
                $('#RF').hide();
                $('#LR').hide();
                break;
            case 'Random Forest':
                $('#RF').show();
                $('#XGB').hide();
                $('#LR').hide();
                break;
            case 'Default':
                $('#RF').hide();
                $('#XGB').hide();
                $('#LR').hide();
                break;
            default:
                $('#RF').hide();
                $('#XGB').hide();
                $('#LR').hide();
                break;
        }
      });
        </script>
</body>
{% endblock %}