{% extends 'layout.html' %}

{% block body %}
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!--//chart.js loaded.-->
</head>

<body>
  <h2 class="text-center text-info"> GreenLytics API prediction  </h2>

  <a href="/project"><button style="border-radius:10px;" class="btn btn-info btn-md">
      Go back to Resource management
    </button></a>

    <div id="XGB" class="text-center">Currently viewing model with ID <span id="modelName"> </span> which has the following Configurations: <br>Model Type: <span id="type"></span><br> Learning Rate: <span id="learnRateXGB"> </span> <br> Max-depth: <span id="maxDepthXGB"> </span><br> Train split: <span id="trainSplitXGB"> </span><br> Validation split: <span id="validationSplitXGB"> </span></div>
    <div id="RF" class ="text-center"> Currently viewing model with ID <span id="modelName2"> </span> which has the following Configurations: <br>Model Type: <span id="type2"> </span><br> Max Depth: <span id="thisRFMaxDepth"> </span> <br> N-estimators: <span id="nEstimators"> </span><br> Train Split: <span id="thisRFTrainSplit"> </span> <br> Validation Split: <span id="thisRFValidationSplit"> </span></div>
    <div id="SVR" class ="text-center"> Currently viewing model with ID <span id="modelName3"> </span> which has the following configurations: <br> Model Type: <span id="type3"> </span> <br> C value: <span id="SVRC"> </span><br> Kernel:  <span id="SVRKernel"> </span> <br> Train Split: <span id="SVRTrainSplit"> </span><br> Validation Split:  <span id="SVRValidationSplit"> </span></div>
    <div id="def" class="text-center">Currently viewing model with ID <span id="modelName4"> </span> which has the following Configurations: <br> Default Enabled<br>Model Type: <span id="type4"></span><br> Train split: <span id="trainSplitDef"> </span><br> Validation split: <span id="validationSplitDef"> </span></div>
    <div id="hyper" class="text-center">Currently viewing model with ID <span id="modelName4"> </span> which has the following Configurations: <br> Hypertune Enabled<br>Model Type: <span id="type5"></span><br> Train split: <span id="trainSplitHyper"> </span><br> Validation split: <span id="validationSplitHyper"> </span></div>
    <hr/>

<canvas id="chart" width="800" height="200"> </canvas>

  <script>
    const model = '{{ model_id }}';
    const url = 'http://35.228.239.24/api/v1/project/'.concat(model);
    const benchMarkURL = 'http://35.228.239.24/api/v1/benchmark';
    var printedBench = false;
    var firstTimeLoad = true;
    console.log(model + " this is the model id that you're currently plotting");
    document.getElementById("modelName").innerHTML = model;
    document.getElementById("modelName2").innerHTML = model;
    document.getElementById("modelName3").innerHTML = model;

    chartNow();
    async function chartNow() {
      const data = await getData();
      const ctx = document.getElementById('chart').getContext('2d');

      const myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: data.xs,
          datasets: [{
            label: 'Prediction',
            data: data.ys,
            fill: 'false',
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1,
            pointBackgroundColor: 'rgba(255, 99, 132, 1)',
            // pointRadius: 0 // keep this code if you wanna remove the dots on the prediction graph.
          },
          {
            label: 'RMSE-range',
            data: data.posRmse,
            fill: 'false',
            borderColor: 'rgb(192, 192, 42, 1)',
            backgroundColor: 'rgb(249, 247, 132, 1)',
            borderWidth: 1,
            pointRadius: 0
          },
          {
            label: 'benchMark',
            data: data.benchvals,
            fill: 'false',
            borderColor: 'rgb(120, 120, 120, 120)',
            backgroundColor: 'rgb(120, 120, 120, 120)',
            borderWidth: 1,
            pointRadius: 0,
            hidden: 'true'
          },
          {
            label: 'RMSE-negrange',
            data: data.negRmse,
            fill: '1',
            borderColor: 'rgb(192, 192, 42, 1)',
            backgroundColor: 'rgb(249, 247, 132, 1)',
            borderWidth: 1,
            pointRadius: 0
          }],
        },
        options: {
          scales: {
             display: true,
            yAxes: [{
              scaleLabel :{
                display : true,
                labelString: "Predicted Work Load (MWh)"
              },
              ticks: {
                callback: function(value, index, values) {
                  return value;
                }
              }
            }]
          },
          legend: {
            labels: {
              filter: function(item, data){
                return !item.text.includes('RMSE-negrange');
              }
            }
          }
        }
      });
    }

    async function getConfigurations(){
      const response = await fetch(url);
      const data = await response.json();
      const result = data.configurations;

      if ((data.configurations["model-type"]) == "XGBoost"){
      const thisXGBLearningRate =data.configurations["learning-rate"];
      const thisXGBModel = data.configurations["model-type"];
      const thisXGBMaxDepth =data.configurations["max-depth"];
      const thisXGBTrainSplit =data.configurations["train-split"];
      const thisXGBValidationSplit =data.configurations["validation-split"];

      document.getElementById("type").innerHTML = thisXGBModel;
      document.getElementById("learnRateXGB").innerHTML  = thisXGBLearningRate;
      document.getElementById("maxDepthXGB").innerHTML = thisXGBMaxDepth;
      document.getElementById("trainSplitXGB").innerHTML = thisXGBTrainSplit;
      document.getElementById("validationSplitXGB").innerHTML = thisXGBValidationSplit;
    }
      if((data.configurations["model-type"]) == "RandomForest"){
        const thisRFNestimators = data.configurations["n-estimators"];
        const thisRFModel = data.configurations["model-type"];
        const thisRFMaxDepth = data.configurations["max-depth"];
        const thisRFTrainSplit = data.configurations["train-split"];
        const thisRFValidationSplit = data.configurations["validation-split"];
        console.log(thisRFNestimators + thisRFModel +  thisRFMaxDepth + thisRFTrainSplit + thisRFValidationSplit);
        document.getElementById("nEstimators").innerHTML =thisRFNestimators;
        document.getElementById("type2").innerHTML = thisRFModel;
        document.getElementById("thisRFMaxDepth").innerHTML = thisRFMaxDepth;
        document.getElementById("thisRFTrainSplit").innerHTML = thisRFTrainSplit;
        document.getElementById("thisRFValidationSplit").innerHTML = thisRFValidationSplit;
      }
    if((data.configurations["model-type"]) == "SVR"){
      const thisSVRC = data.configurations["c"];
      const thisSVRKernel = data.configurations["kernel"];
      const thisSVRModelType = data.configurations["model-type"];
      const thisSVRTrainSplit = data.configurations["train-split"];
      const thisSVRValidationSplit = data.configurations["validation-split"];
       document.getElementById("SVRC").innerHTML =thisSVRC;
       document.getElementById("type3").innerHTML = thisSVRModelType;
       document.getElementById("SVRKernel").innerHTML = thisSVRKernel;
       document.getElementById("SVRTrainSplit").innerHTML = thisSVRTrainSplit;
       document.getElementById("SVRValidationSplit").innerHTML = thisSVRValidationSplit;
      }
      if ((data.configurations["default"]) == "True"){
        const modelTypeDef = data.configurations["model-type"];
        const trainSplitDef = data.configurations["train-split"];
        const valSplitDef = data.configurations["validation-split"];
        document.getElementById("trainSplitDef").innerHTML = trainSplitDef;
        document.getElementById("validationSplitDef").innerHTML = valSplitDef;
        document.getElementById("type4").innerHTML = modelTypeDef;
      }
      if(data.configurations["hyper-tune"] == "True"){
        const modelTypeHyper = data.configurations["model-type"];
        const trainSplitHyper = data.configurations["train-split"];
        const valSplitHyper = data.configurations["validation-split"];
        document.getElementById("trainSplitHyper").innerHTML = trainSplitHyper;
        document.getElementById("validationSplitHyper").innerHTML = valSplitHyper;
        document.getElementById("type5").innerHTML = modelTypeHyper;
      }
    }
    async function getData() {
      const xs = [];
      const ys = [];
      var posRmse  = [];
      var negRmse  = [];
      const benchvals = [];
      const response = await fetch(url);
      const data = await response.json();

      const response2 = await fetch(benchMarkURL);
      const data2 = await response2.json();
      const benchValues = data2.load;

      const rmse =  data.rmse;

      const xAxisTest = data.hours;
      const yAxisTest = data.load;

      for(var i = 0; i < 24; i++){
        benchvals.push(benchValues[i]);
      }
      for (var i = 0; i < 24; i ++){
        xs.push(xAxisTest[i]);
      }
      for(var i = 0; i < 24; i++){
        ys.push(yAxisTest[i]);
      }
      for(var i = 0; i < 24; i ++){
        posRmse[i] = parseInt(yAxisTest[i], 10) + parseInt(data.rmse, 10);
      }
      for(var i = 0; i < 24; i ++){
        negRmse[i] = parseInt(yAxisTest[i], 10) - parseInt(data.rmse, 10);
      }

      return {
        xs,
        ys,
        posRmse,
        negRmse,
        benchvals,
      };
    }
    getData();

      async function removeDiv(){
      const response = await fetch(url);
      const data = await response.json();
      const result = data.configurations;
      const modelTypen = data.configurations["model-type"];
      const defaultStatus = data.configurations["default"];
      const hyperTuneStatus = data.configurations["hyper-tune"];
      console.log(defaultStatus);
      console.log(hyperTuneStatus);
      console.log(modelTypen);

      if (modelTypen == "SVR" && defaultStatus == "False" && hyperTuneStatus == "False"){
        myFunctionXGB();
        myFunctionRF();
        myFunctionDef();
        myFunctionHyper();
        console.log("SVR custom happened");
      }
      else if (modelTypen == "XGBoost" && defaultStatus == "False" && hyperTuneStatus == "False"){
        myFunctionSVR();
        myFunctionRF();
        myFunctionDef();
        myFunctionHyper();
        console.log("XGBoost custom happened");
      }
      else if (modelTypen == "RandomForest" && defaultStatus == "False" && hyperTuneStatus == "False"){
        myFunctionXGB();
        myFunctionSVR();
        myFunctionDef();
        myFunctionHyper();
        console.log("RandoM Forest custom happened");
      }
      else if ((data.configurations["default"]) == "True"){
        myFunctionXGB();
        myFunctionSVR();
        myFunctionRF();
        myFunctionHyper();
        console.log("DEFAULT case happened");
      }
      else if ((data.configurations["hyper-tune"]) == "True"){
        myFunctionXGB();
        myFunctionSVR();
        myFunctionRF();
        myFunctionDef();
        console.log("HYPERTUNE case happened");
      }
      else
      {
        console.log("none of the above happened")
      }
    }

    function myFunctionHyper(){
      var x = document.getElementById("hyper");
      if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
      }
    }
    function myFunctionDef(){
      var x = document.getElementById("def");
      if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
      }
    }
    function myFunctionXGB() {
      var x = document.getElementById("XGB");
      if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
      }
    }
    function myFunctionSVR() {
      var x = document.getElementById("SVR");
      if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
      }
    }
    function myFunctionRF() {
      var x = document.getElementById("RF");
      if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
      }
    }

    removeDiv();
    getConfigurations();

  </script>
</body>
{% endblock %}
