{% extends 'layout.html' %}

{% block body %}
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!--//chart.js loaded.-->
</head>

<body>
  <h1 class="text-center text-info"> GreenLytics API prediction  </h1>

  <a href="http://127.0.0.1:5000/project"><button style="border-radius:10px;" class="btn btn-info btn-md">
      Go back to Resource management
    </button></a>
  </button></a>
    </button></a>
    <br></br>
    <br></br>
    <hr />

<canvas id="chart" width="800" height="200"> </canvas>

  <script>
    const model = '{{ model_id }}';
    const url = 'http://35.228.239.24/api/v1/project/'.concat(model);
    console.log(model + " this is the model id that you're currently plotting");

    chartNow();
    async function chartNow() {
      const data = await getData();
      const ctx = document.getElementById('chart').getContext('2d');

      const myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: data.xs,
          datasets: [{
            label: 'Placeholder graph',
            data: data.ys,
            fill: true,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                callback: function(value, index, values) {
                  return '' + value + "";
                  //beginAtZero : true;
                }
                  // beginAtZero: true;
              }
            }]
          }
        }
      });
    }

    async function getData() {
      const xs = [];
      const ys = [];
      const response = await fetch(url);
      const data = await response.json();
      console.log("this is the retrieved data" + data);
      const result = data.result;
      console.log("this is the result" + result);
      // const test = data.configurations;
      // console.log(test + "hej");
      // const xAxisTemp =
      const yAxis = Object.values(result);
      const xAxis = Object.keys(result);
      console.log("X-Axis values:" + xAxis + "here are values of time. 0-24.");
      console.log("Y-Axis values: " + yAxis + "here are values on the y-axis");
      for (var i = 0; i < 24; i ++){
        xs.push(xAxis[i]);
      }
      console.log(xs);
      for(var i = 0; i < 24; i++){
        ys.push(yAxis[i]);
      }
      console.log(xs + "hello this is supposed to be vals on x-axis");
      console.log(ys + "hello this is supposed to be vals on y-axis");
      return {
        xs,
        ys
      };
    }

    getData();
  </script>
</body>
{% endblock %}
