{% extends 'layout.html' %}

{% block body %}
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!--//chart.js loaded.-->
</head>

<body>
  <h1 class="text-center text-info"> Resource Management </h1>
    <hr />
  <div class="table-responsive table-striped">
      <p id="showData"></p>
  </div>


  <script>
    const url = 'http://35.228.239.24/api/v1/project';

    async function resourceNow() {
      const data = await getData();
      // TABLE HEADERS.
      const col = ['Model ID'];
        for (var key in data.contents[0]) {
            if (col.indexOf(key) === -1) {
                col.push(key);
            }
        }

      var table = document.createElement("table");
      // SET ATTRIBUTE TO TABLE
      table.setAttribute('class', 'table');
      table.setAttribute('class', 'table');
      var tr = table.insertRow(-1);
      // CREATE TABLE WITH HEADERS
      for (var i = 0; i < col.length; i++) {
        var th = document.createElement("th");
        th.innerHTML = col[i];
        tr.appendChild(th);
      }
      tr.appendChild(document.createElement("th"))

      // ADD JSON DATA TO THE TABLE AS ROWS.
      for (var i = 0; i < data.ids.length; i++) {
        tr = table.insertRow(-1);
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = data.ids[i];
        for (var j = 1; j < col.length; j++) {
            var tabCell = tr.insertCell(-1);
            tabCell.innerHTML = data.contents[i][col[j]];
            // console.log("hello hehehehhe" + data.contents[i][col[4]]);
            // console.log("hello hehehehhe" + data.contents[i][col[5]]);
        }
        // CREATE BUTTONS WITH LINKS TO RESPECTIVE MODEL DISPLAY
        var tabCell = tr.insertCell(-1);
        tabCell.innerHTML = '<button onclick="window.location.href='.concat('\'/project/', data.ids[i], '\'">Display</button>')
        // console.log(data.contents[i][col[4]]);
        const rmse = data.contents[i][col[4]];
        const status = data.contents[i][col[5]];
        // console.log(rmse);
        // console.log(status);

        if(rmse == null && status == true){
          tabCell.innerHTML ='<text ='.concat('\'/project/', data.ids[i], '\'">Can not display this model due to an error during training</button>')
        }
        if(rmse != null && status == false){
          tabCell.innerHTML ='<text ='.concat('\'/project/', data.ids[i], '\'">Can not display this model due to model is currently under training</button>')
        }
      }

      // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
      const divContainer = document.getElementById("showData");
      divContainer.innerHTML = "";
      divContainer.appendChild(table);

      return data;
    }

    async function getData() {
      const response = await fetch(url);
      const data = await response.json();
      const ids = Object.keys(data);
      const contents = Object.values(data);
      return {data, ids, contents};
    }

    resourceNow();
  </script>
</body>
{% endblock %}
