{% extends 'layout.html' %}
{% block body %}
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Train Model</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Configure Model</h3>
                            <div class="form-group">
                                <label for="modelname" class="text-info">Model Name:</label><br>
                                <input type="text" name="modelname" id="modelname" class="form-control">
                            </div>
                            <div class="form-group">
                              <select name = "modeltype" id = "modeltype">
                                <option value = "Default" selected>Choose one</option>
                                <option value = "RandomForest">Random Forest</option>
                                <!-- <option value = "Linear Regression">Linear Regression</option> -->
                                <option value = "XGBoost">XGBoost</option>
                                <option value = "SVR">SVR</option>
                            </select>
           <!-- <div id = "cardioyes" style = "display:none;">
           <label for="How Long?">How Long?</label><br>
           <input type = "text" name = "duration" />
           </div> -->
           <!-- XBG VALUES -->
                            <div id = "XGB" class="form-group" style = "display:none;">
                                <label for="learningrate">Learning Rate:</label><br>
                                <input type="range" min="0" max="10" value="0" class="slider" id="myRange" name = "learningrateXG">
                                <p>Value: <span id="demo"></span></p>
                                <!-- <div class="form-group">
                                    <label for="learningrate" class="text-info">Learning Rate:</label><br>
                                    <input type="range" min="0" max="10" value="5" class="slider" id="myRange">
                                    <p>Value: <span id="demo"></span></p>
                                </div> -->
                                <label for="maxdepth" class="form-group">Max Depth: <br>Insert any number larger than 0</label><br>
                                <input type="number" min="0"  value="0" class="slider" id="myRange2" name = "maxdepthXG">
                                <p>Your selected max depth is: <span id="demo2"></span></p>
                                <label for="trainsplit" class="form-group">Train Split:</label><br>
                                <input type="range" min="0" max="100" value="0" class="slider" id="myRange3" name ="trainsplitXG">
                                <p>Value: <span id="demo3"></span></p>
                                <label for="valsplit" class="form-group">Validation Split:</label><br>
                                <input type="hidden" min="0" max="100" value="0" class="slider" id="myRange4" name = "valsplitXG">
                                <p> <span id="demo4"></span></p>
                            </div>
                            <!-- SVR VALS -->
                            <div id = "SVR" class="form-group" style = "display:none;">
                              <br>
                              <select name = "SVR KERNEL" id = "KERNEL">
                                <option value = "linear" selected>linear</option>
                                <option value = "poly">poly</option>
                                <!-- <option value = "Linear Regression">Linear Regression</option> -->
                                <option value = "rbf">rbf</option>
                                <option value = "sigmoid">sigmoid</option>
                              </select>
                              <br>
                                <label for="c">c:</label><br>
                                <input type="number" min="0" value="5" class="slider" id="myRange" name = "CSVR">
                                <p>Value: <span id="demo"></span></p>
                                <!-- <div class="form-group">
                                    <label for="learningrate" class="text-info">Learning Rate:</label><br>
                                    <input type="range" min="0" max="10" value="5" class="slider" id="myRange">
                                    <p>Value: <span id="demo"></span></p>
                                </div> -->
                                <!-- <label for="maxdepth" class="form-group">Max Depth: <br>Insert any number larger than 0</label><br>
                                <input type="number" min="0"  value="0" class="slider" id="myRange2" name = "maxdepthXG">
                                <p>Your selected max depth is: <span id="demo2"></span></p> -->
                                <label for="trainsplit" class="form-group">Train Split:</label><br>
                                <input type="range" min="0" max="100" value="0" class="slider" id="myRange7" name ="trainsplitSVR">
                                <p>Value: <span id="demo7"></span></p>
                                <label for="valsplit" class="form-group">Validation Split:</label><br>
                                <input type="hidden" min="0" max="100" value="0" class="slider" id="myRange8" name = "valsplitSVR">
                                <p>Value: <span id="demo8"></span></p>

                                <!-- <label for="trainsplit" class="form-group">Train Split:</label><br>
                                <input type="range" min="0" max="100" value="0" class="slider" id="myRange3" name ="trainsplitXG">
                                <p>Value: <span id="demo3"></span></p>
                                <label for="valsplit" class="form-group">Validation Split:</label><br>
                                <input type="hidden" min="0" max="100" value="0" class="slider" id="myRange4" name = "valsplitXG">
                                <p> <span id="demo4"></span></p> -->

                            </div>
                            <!-- LR VALUES -->
                            <!-- <div id = "LR" class ="form-group" style = "display:none;">
                                <label for="learningrate">Learning Rate:</label><br>
                                <input type="range" min="0" max="10" value="0" class="slider" id="myRange5" name = "learningrateLR">
                                <p>Value: <span id="demo5"></span></p>
                                <label for="maxdepth" class="form-group">Max Depth:</label><br>
                                <input type="range" min="0" max="25" value="0" class="slider" id="myRange6" name = "maxdepthLR">
                                <p>Value: <span id="demo6"></span></p>
                                <label for="trainsplit" class="form-group">Train Split:</label><br>
                                <input type="range" min="0" max="100" value="0" class="slider" id="myRange3" name = "trainsplitLR">
                                <p>Value: <span id="demo3"></span></p>
                                <label for="valsplit" class="form-group">Validation Split:</label><br>
                                <input type="hidden" min="0" max="100" value="0" class="slider" id="myRange4" name = "valsplitLR">
                                <p> <span id="demo4"></span></p>
                            </div> -->
                              <!-- RF VALUES -->
                            <div id = "RF" class ="form-group" style = "display:none;">
                                <label for="n-estimators">n-estimators:</label><br>
                                <input type="number" min="0" value="0" class="slider" id="myRange5" name = "n-estimatorRF">
                                <p>Value: <span id="demo5"></span></p>
                                <label for="maxdepth" class="form-group">Max Depth:</label><br>
                                <input type="range" min="0" max="25" value="0" class="slider" id="myRange6" name = "maxdepthRF">
                                <p>Value: <span id="demo6"></span></p>
                                <label for="trainsplit" class="form-group">Train Split:</label><br>
                                <input type="range" min="0" max="100" value="0" class="slider" id="myRange9" name = "trainsplitRF">
                                <p>Value: <span id="demo9"></span></p>
                                <label for="valsplit" class="form-group">Validation Split:</label><br>
                                <input type="hidden" min="0" max="100" value="0" class="slider" id="myRange10" name = "valsplitRF">
                                <p>Value: <span id="demo10"></span></p>
                            </div>
                            </div>
                                <!-- <label for="modeltype" class="text-info">Model Type:</label><br>
                                <select id ="MLAlgorithms">
                                    <option value="XGBoost">XGBoost</option>
                                    <option value="Random Forest">Random Forest</option>
                                    <option value="Linear Regression">Linear Regression</option>
                                 </select> -->
                            <!-- <div class="form-group">
                                <label for="learningrate" class="text-info">Learning Rate:</label><br>
                                <input type="range" min="0" max="10" value="5" class="slider" id="myRange">
                                <p>Value: <span id="demo"></span></p>
                            </div> -->
                            <!-- <div class="form-group">
                                <label for="maxdepth" class="text-info">Max Depth:</label><br>
                                <input type="range" min="0" max="10" value="5" class="slider" id="myRange2">
                                <p>Value: <span id="demo2"></span></p>
                            </div> -->
                            <!-- <div class="form-group">
                                <!-- <label for="trainsplit" class="text-info">Train Split:</label><br> -->
                                <!-- <input type="hidden" min="0" max="100" value="" class="slider" id="myRange3">
                                <p> <span id="demo3"></span></p>
                            </div> -->
                            <!-- <div class="form-group">
                                 <label for="valsplit" class="text-info">Validation Split:</label><br>
                                <input type="hidden" min="0" max="100" value="" class="slider" id="myRange4">
                                <p> <span id="demo4"></span></p>
                            </div> -->
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Train model">
                                <input type="reset" class ="btn btn-info btn-md" value="Reset Model">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Display slider values -->
    <script>
        var slider = document.getElementById("myRange");
        var slider2 = document.getElementById("myRange2");
        var slider3 = document.getElementById("myRange3");
        var slider4 = document.getElementById("myRange4");
        var slider5 = document.getElementById("myRange5");
        var slider6 = document.getElementById("myRange6");
        var slider7 = document.getElementById("myRange7");
        var slider8 = document.getElementById("myRange8");
        var slider9 = document.getElementById("myRange9");
        var slider10 = document.getElementById("myRange10");
        var output = document.getElementById("demo");
        var output2 = document.getElementById("demo2");
        var output3 = document.getElementById("demo3");
        var output4 = document.getElementById("demo4");
        var output5 = document.getElementById("demo5");
        var output6 = document.getElementById("demo6");
        var output7 = document.getElementById("demo7");
        var output8 = document.getElementById("demo8");
        var output9 = document.getElementById("demo9");
        var output10 = document.getElementById("demo10");

        output.innerHTML = slider.value;
        output2.innerHTML = slider2.value;
        output3.innerHTML = slider3.value;
        output4.innerHTML = slider4.value;
        output5.innerHTML = slider5.value;
        output6.innerHTML = slider6.value;
        output7.innerHTML = slider7.value;
        output9.innerHTML = slider9.value;
        slider.oninput = function() {
          output.innerHTML = this.value/10;
        }
        slider2.oninput = function() {
          output2.innerHTML = this.value;
        }
        slider3.oninput = function() {
          output3.innerHTML = this.value;
          output4.innerHTML = (100 - this.value);
        }
        slider5.oninput = function() {
          output5.innerHTML = this.value/10;
        }
        slider6.oninput = function() {
          output6.innerHTML = this.value;
        }
        slider7.oninput = function() {
          output7.innerHTML = this.value;
          output8.innerHTML = (100 - this.value);
        }
        slider9.oninput = function() {
          output9.innerHTML = this.value;
          output10.innerHTML = (100 - this.value);
        }
        // slider4.oninput = function() {
        //   output4.innerHTML = this.value/10;
        // }
        $('#modeltype').change(function(){
        selection = $(this).val();
        switch(selection)
        {
            //show the <div> or not
            case 'Linear Regression':
                $('#LR').show();
                $('#XGB').hide();
                $('#RF').hide();
                $('#SVR').hide();
                break;
            case 'XGBoost':
                $('#XGB').show();
                $('#RF').hide();
                $('#LR').hide();
                $('#SVR').hide();
                break;
            case 'RandomForest':
                $('#RF').show();
                $('#XGB').hide();
                $('#LR').hide();
                $('#SVR').hide();
                break;
            case 'Default':
                $('#RF').hide();
                $('#XGB').hide();
                $('#LR').hide();
                $('#SVR').hide();
                break;
            case 'SVR':
                $('#RF').hide();
                $('#XGB').hide();
                $('#LR').hide();
                $('#SVR').show();
                break;
            default:
                $('#RF').hide();
                $('#XGB').hide();
                $('#LR').hide();
                $('#SVR').hide();
                break;
        }
      });
        </script>
</body>
{% endblock %}
